#Sytem specification

In [2]:
!cat /proc/cpuinfo

processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2200.204
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed bhi
bogomips	: 4400.40
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

processor	: 1
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2200.204
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 1
initial apicid	: 1
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed bhi
bogomips	: 4400.40
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

In [3]:
!cat /proc/meminfo

MemTotal:       13290460 kB
MemFree:         8696304 kB
MemAvailable:   12370416 kB
Buffers:          337212 kB
Cached:          3521508 kB
SwapCached:            0 kB
Active:           597728 kB
Inactive:        3730276 kB
Active(anon):       1112 kB
Inactive(anon):   469588 kB
Active(file):     596616 kB
Inactive(file):  3260688 kB
Unevictable:           4 kB
Mlocked:               4 kB
SwapTotal:             0 kB
SwapFree:              0 kB
Dirty:               348 kB
Writeback:             0 kB
AnonPages:        469372 kB
Mapped:           277164 kB
Shmem:              1412 kB
KReclaimable:     115496 kB
Slab:             151588 kB
SReclaimable:     115496 kB
SUnreclaim:        36092 kB
KernelStack:        4320 kB
PageTables:         8512 kB
SecPageTables:         0 kB
NFS_Unstable:          0 kB
Bounce:                0 kB
WritebackTmp:          0 kB
CommitLimit:     6645228 kB
Committed_AS:    1962396 kB
VmallocTotal:   34359738367 kB
VmallocUsed:       10604 kB
VmallocChunk:          0 kB
Percpu:             1096 kB
HardwareCorrupted:     0 kB
AnonHugePages:         0 kB
ShmemHugePages:        0 kB
ShmemPmdMapped:        0 kB
FileHugePages:         0 kB
FilePmdMapped:         0 kB
CmaTotal:              0 kB
CmaFree:               0 kB
Unaccepted:            0 kB
HugePages_Total:       0
HugePages_Free:        0
HugePages_Rsvd:        0
HugePages_Surp:        0
Hugepagesize:       2048 kB
Hugetlb:               0 kB
DirectMap4k:       60216 kB
DirectMap2M:     4130816 kB
DirectMap1G:    11534336 kB

Installing libraries

In [4]:
import pandas as pd

In [7]:
df = pd.read_csv('/content/boston.csv')

In [8]:
df.head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222.0,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311.0,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311.0,15.2,396.90,19.15,27.1
8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311.0,15.2,386.63,29.93,16.5
9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311.0,15.2,386.71,17.10,18.9

In [9]:
print('Machine Learning')

Machine Learning

In [10]:
!ls #this code print all the details in particular folder

boston.csv  sample_data

Programming used in Machine Learning
1. Python
2. R

**Basic Concepts in Python**

print function

In [11]:
print("Machine Learning")

Machine Learning

In [12]:
print("Machine Learning" + " projects") #concatenate several strings in one line

Machine Learning projects

In [13]:
print(8)

8

In [14]:
print(8+3) #arthmatic operation but this is only in case of integers

11

# Basic Datatypes in Python

In [17]:
1. Int
2. float
3. str

In [18]:
type(8) # if you are unsure of datatypes we can type

int

In [19]:
type(5.2)

float

In [20]:
type("machine")

str

**#Constants and Variable**

Variable - values can be change

Constant - values cannot be change

In [21]:
superhero = "Iron Man"
print(superhero)

Iron Man

In [22]:
superhero = "Captain America" # here we can change the value of variables
print(superhero)

Captain America

In [23]:
hero1,hero2,hero3 = "IronMan","CaptainAmerica","Batman"  #here by default hero1 hero2 and hero3 assigned the variable
print(hero1)
print(hero2)
print(hero3)

IronMan
CaptainAmerica
Batman

In [24]:
#multiple variable to same data(single value to multiple variable)
x = y = z = 23
print(x)
print(y)
print(z)

23
23
23

#Python is case sensitive

#input function

In [27]:
number_1 = input("Enter the first number: ")
number_2 = input("Enter the second number: ")

Enter the first number: 23
Enter the second number: 23

In [29]:
number_1 = input("Enter the first number: ")
number_2 = input("Enter the second number: ")

sum = number_1 + number_2
print(sum)#here it assumes a string so it tries to concatenate

Enter the first number: 23
Enter the second number: 23
2323

In [31]:
number_1 = int(input("Enter the first number: "))
number_2 = int(input("Enter the second number: "))

sum = (number_1 + number_2)
print(sum)

Enter the first number: 23
Enter the second number: 23
46

In [35]:
#changing the data type in python
num =5
#print(num)
print(float(num))

5.0