#Basic Data Types in Python

1. Integer
2. Float
3. Complex
4. Boolean
5. String

In [2]:
# Integer
a = 8
print(a)
print(type(a))

8
<class 'int'>

In [3]:
# Float
b = 2.3
print(b)
print(type(b))

2.3
<class 'float'>

In [4]:
#complex numbers
c = 1 + 3j
print(c)
print(type(c))

(1+3j)
<class 'complex'>

###### Converation of one datatype to another

In [6]:
#int to float
x = 8
print(x)
print(type(x))

8
<class 'int'>

In [7]:
y = float(x)
print(y)
print(type(y))

8.0
<class 'float'>

In [8]:
#convert float to int
x = 5.4
print(x)
print(type(x))

5.4
<class 'float'>

In [9]:
y = int(x)
print(y)
print(type(y))

5
<class 'int'>

# Boolean

1. True
2. False

In [11]:
a = True
print(a)
print(type(a))

True
<class 'bool'>

In [13]:
b = True
print(b)
print(type(b))

True
<class 'bool'>

In [14]:
a = 7 < 3
print(a)

False

String
1. String should be enclosed in ("") or ('') also make sure if  you start with single or double quotes it should end with same quotes

In [15]:
print("Machine Learning")

Machine Learning

In [17]:
my_string = "Machine Learning"
print(my_string)
print(type(my_string))

Machine Learning
<class 'str'>

In [18]:
print("Hello" * 5) #here we will be printing hello 5 times as we are using the multiplication operator

HelloHelloHelloHelloHello

**Slicing**

In [19]:
my_string = "Programming"
print(len(my_string))
print(my_string)

11
Programming

In [20]:
my_string[1:5] #values from index to 1 to 5-1 will be sliced

'rogr'

In [21]:
print(my_string[0:10:2]) #step of 2 here every second will be removed

Pormi

String concatenation

In [23]:
word_1 = "Machine"
word_2 = " learning"
print(word_1 + word_2)

Machine learning