Types of Objects in Python
1. Immutable objects
2. Mutable objects

Immutable objects
1. int
2. float
3. string
4. bool
5. tuple

Mutable objects
1. list
2. set
3. dictionary

#List

In [2]:
#list should be enclosed in Square brackets []
my_list = [1,2,3,4,5]
print(my_list)
print(type(my_list))

[1, 2, 3, 4, 5]
<class 'list'>

In [3]:
# list can store multiple data types
my_list = [1,2,5.5,'MachineLearning',True]
print(my_list)

[1, 2, 5.5, 'MachineLearning', True]

List are mutable -- >Changeable

In [4]:
#add elements to list
my_list = [1,2,5.5,'MachineLearning',True]
my_list.append(6)   # add new element to list
print(my_list)

[1, 2, 5.5, 'MachineLearning', True, 6]

In [6]:
# print elements of a list using there index
print(my_list[0])
print(my_list[2])

1
5.5

In [7]:
# List allows duplicate or repeated values
list_1 = [1,2,3,4,5,1,2,3,6,7]
print(list_1)

[1, 2, 3, 4, 5, 1, 2, 3, 6, 7]

In [8]:
# checking the elements in list
print(len(list_1))

10

In [9]:
# inititating an empty list
list_2 =[]
print(list_2)

[]

In [10]:
list_2.append(5)
print(list_2)

[5]

In [11]:
# delete an item in the list
list_2 = [1,2,3,4,5,'English']
print(list_2)

del list_2[3]
print(list_2)

[1, 2, 3, 4, 5, 'English']
[1, 2, 3, 5, 'English']

In [12]:
# join two list
list_1 =[ 1,2,3,4,5]
list_2 =[ 6,7,8,9,10]
total_list = list_1 + list_2
print(total_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#Tuples

In [13]:
# tuples are immutable
# tuples are enclosed in round brackets ()

tuple_1 =(2,3,4,5)
print(tuple_1)
print(type(tuple_1))

(2, 3, 4, 5)
<class 'tuple'>

In [14]:
# tuples allows multiple data type
tuple_2 =(2.2,5,6,'English',True)
print(tuple_2)

(2.2, 5, 6, 'English', True)

In [15]:
# Converting list into a tuple
my_list = [2,3,4.5,7,8]
print(my_list)
print(type(my_list))
my_tuple = tuple(my_list)
print(my_tuple)
print(type(my_tuple))

[2, 3, 4.5, 7, 8]
<class 'list'>
(2, 3, 4.5, 7, 8)
<class 'tuple'>

In [16]:
print(my_tuple[0])

2

Tuples are mutable --> not changeable

In [17]:
my_tuple.append(0)  # we cannot change the element or add element

AttributeError: 'tuple' object has no attribute 'append'

In [18]:
#finding how many elements are present in tuple
print(len(my_tuple))

5

#Set

In [19]:
# Sets are also mutable data types
# sets are enclosed in curly bracket {}
# set does not allow duplicate values

my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [20]:
# we CANNOT CALL specific element in set(indexing cannot be done in set)
my_set[0]  # this shows error

TypeError: 'set' object is not subscriptable

In [21]:
#convert list to a set
my_list = [1,2,3,4,5]
print(my_list)
my_set = set(my_list)
print(type(my_set))
print(my_set)

[1, 2, 3, 4, 5]
<class 'set'>
{1, 2, 3, 4, 5}

In [22]:
# set does not allow duplicate value
set_3 ={23,4,44,5,4,55,6,5}
print(set_3) #here you can see the duplicate values are not printed

{4, 5, 6, 55, 23, 44}

#Dictionary

In [23]:
# Dictionary has key-value pair
# dictionary values can be called using by key
# dictionary does not allow duplicate values

my_dict = {"Name":"David","age":30,"country":"India"} #here name is key and david is value and same for others in this dictionary
print(my_dict)
print(type(my_dict))

{'Name': 'David', 'age': 30, 'country': 'India'}
<class 'dict'>

In [25]:
# dictionary values can be called using by key
print(my_dict["country"])
print(my_dict["age"])
print(my_dict["Name"])

India
30
David

In [26]:
# dictionary does not allow duplicate values
my_dict_2 ={"Name":"David","age":30,"country":"India","Name":"David","age":30,"country":"India"}
print(my_dict_2) # here you can see duplicate values are not allowed

{'Name': 'David', 'age': 30, 'country': 'India'}