Operators in Python

1. Arthimetic operators
2. Assignment operators
3. Comparison operators
4. Logical Operators
5. Identity operators
6. Membership operators

#Arthimetic Operators

In [ ]:
# Basicaly mathematical operators which can perform on int, float data types
num_1 =20
num_2 =10

# addition
sum = num_1 + num_2
print("Sum ", sum)

# subtraction
sub = num_1 - num_2
print("Subtraction ",sub)

# multiplication
mul = num_1 * num_2
print("Multiplication ",mul)

# division
div = num_1 / num_2
print("Division ",div)

# Exponent
exp = num_1 ** num_2
print("Exponent ",exp)

#modules
mod = num_1 % num_2
print("Modules ",mod)

Sum  30
Subtraction  10
Multiplication  200
Division  2.0
Exponent  10240000000000
Modules  0

#Assignment Operators

In [ ]:
a = 5
print(a)

5

In [ ]:
a = 5
a += 5  #a = a+5
print(a)

10

In [1]:
b = 10
b -= 10
print(b)

0

In [3]:
c = 5
c *= 5
print(c)

25

In [4]:
d = 5
d **= 5
print(d)

3125

In [5]:
e = 5
e %= 5
print(e)

0

In [6]:
f = 5
f /= 5
print(f)

1.0

#Comparison operator

In [7]:
a = 5
b = 10
print(a > 5) # this prints only boolean value

False

In [8]:
a = 10
b = 22
print(b > a)

True

In [9]:
a = 5
b = 10

print(a == b) #equal to
print(a != b) #not equal
print(a > b) #greater than
print(a < b) #lesser than
print(a >= b)
print( a <= b)

False
True
False
True
False
True

#Logical Operators

and

or

not

In [10]:
a = 10
print(a>20 and a>5)  # in 'and' operator both the condition should be true
print(a>20 or a>5) # in 'or' operator either one can be true
print(not(a>8 and a>5))

False
True
False

#Identity Operator

is

is not

In [11]:
x = 5
y= 5
print(x is y) # it will check whether x is same as y

True

In [13]:
x = 5
y= 10
print(x is not y)

True

#Membership Operator

in

not in

In [14]:
a = 5  # checks whether element is present in object
b = 10

c = [1,2,3,4,5]

print(a in c)
print(b in c)

True
False

In [15]:
a = 5  # checks whether element is present in object
b = 10

c = [1,2,3,4,5]

print(a not in c)
print(b not in c)

False
True